<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%class{1}/%level] %msg}{TRACE=bright cyan, DEBUG=bright green, INFO=bright blue, WARN=bright yellow, ERROR=bright red}%n" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>